<a href="https://colab.research.google.com/github/RyanElizalde/Bsis_3a_activities/blob/main/activity3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import PolynomialFeatures

In [3]:
'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'

'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'

In [16]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    category
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
 12  FamilySize   891 non-null    int64
dtypes: category(1), float64(2), int64(5), object(5)
memory usage: 84.7+ KB

In [18]:
df['Survived'] = df['Survived'].astype('int')

In [20]:
df['Age'] = df['Age'].astype('float')

In [21]:
df['Fare'] = df['Fare'].astype('float')

In [22]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
FamilySize       0
dtype: int64

In [29]:
df['Age'].fillna(df['Age'].mean(),inplace=True)

In [30]:
df['Cabin'].fillna(df['Cabin'].mode(),inplace=True)

In [32]:
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1

In [33]:
df['IsAlone'] = 0

In [34]:
df['IsAlone'].loc[df['FamilySize']==1] = 1

<ipython-input-34-b77876065ab9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['IsAlone'].loc[df['FamilySize']==1] = 1

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    category
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        206 non-null    object
 11  Embarked     891 non-null    object
 12  FamilySize   891 non-null    int64
 13  IsAlone      891 non-null    int64
dtypes: category(1), float64(2), int64(6), object(5)
memory usage: 91.6+ KB

In [38]:
poly = PolynomialFeatures(degree=2, include_bias=False)

In [40]:
numeric_features = df[['Age', 'Fare', 'FamilySize']]

In [41]:
poly_features_df = pd.DataFrame(poly_features, columns=poly.get_feature_names_out(['Age', 'Fare', 'FamilySize']))

In [43]:
print(df.head())

   PassengerId  Survived Pclass  \
0            1         0      3
1            2         1      1
2            3         1      3
3            4         1      1
4            5         0      3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare    Cabin Embarked  FamilySize  IsAlone
0      0         A/5 21171   7.2500  B96 B98        S           2        0
1      0          PC 17599  71.2833      C85        C           2        0
2      0  STON/O2. 3101282   7.9250       G6        S           1        1
3      0            113803  53.1000     C123        S           2        0
4      0            373450   8.0500      NaN        S           1        1